@keyframes BackgroundANI {
  0% {
    background-position: 0% 50%;

  }

  50% {
    background-position: 50% 100%;

  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  
}

@keyframes loadingLogo {
  0% {
    filter: drop-shadow(20px 20px 20px black);
  }
  20% {
    filter: drop-shadow(10px 10px 10px #ffffff);

  }
  40% {
    filter: drop-shadow(5px 25px 2px #003576);

  }
  60% {
    filter: drop-shadow(12px 9px 10px #00eeff);

  }
  80% {
    filter: drop-shadow(5px 15px 25px #00206a);

  }
  100% {
    filter: drop-shadow(20px 20px 20px #000000);

  }

}

@keyframes scroll-logos {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20%);
  }
}